@model IEnumerable<MagicHotel_Web.Models.Dto.HotelDto>
@{
    ViewData["Title"] = "IndexHotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de Hoteles</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Hotel" asp-action="CrearHotel" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Crear Nuevo Hotel</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ocupantes</th>
                <th>Tarifa</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Ocupantes</td>
                    <td>@((item.Tarifa).ToString("c"))</td>
                    <td>
                        <a asp-controller="Hotel" asp-action="ActualizarHotel" asp-route-hotelId="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i> </a>
                        <a asp-controller="Hotel" asp-action="RemoverHotel" asp-route-hotelId="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

